[submodule "microservices/temperature-monitoring"]
	path = microservices/temperature-monitoring
	url = git@github.com:danielsplinter/ems-algasensors-temperature-monitoring.git
[submodule "microservices/temperature-processing"]
	path = microservices/temperature-processing
	url = git@github.com:danielsplinter/ems-algasensors-temperature-processing.git
[submodule "microservices/temperature-management"]
	path = microservices/temperature-management
	url = git@github.com:danielsplinter/ems-algasensors-temperature-management.git
